@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.conteiner {
  width: 1128px;
  margin: 0 auto;
}

.main-nav ul {
  display: flex;
  margin-bottom: 12px;
}

.main-nav li {
  padding: 6px 12px;
}

.main-nav li:hover,
.main-nav li:focus {
  color: silver;
}

.main-nav li:first-child {
  border-right: 2px solid #000;
}

.main-nav span {
  font-weight: bold;
}

/* .shops {
  width: 500px;
  max-height: 500px;
  overflow: scroll;
} */

.shops,
.medicaments {
  height: auto;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #000;
}

.medicaments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.medicaments li {
  padding: 5px;
  border-radius: 4px;
  /* width: calc(100% - 10px)/3; */
  width: 310px;
  border: 1px solid #000;
}

.medicaments button {
  padding: 2px 12px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid #000;
  background-color: transparent;
}

.medicaments li:hover,
.medicaments li:focus {
  transform: scale(1.02);
}

.medicaments button:hover,
.medicaments button:focus  {
  background-color: silver;
}

.medicaments p[data-name] {
  font-weight: bold;
 }

.medicaments p[data-description] {
  font-size: 12px;
 }

.medicaments p {
  width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.gallery {
  display: flex;
  gap: 12px;
}

.pharmacies {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.pharmacies button {
  width: 100%;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #000;
}

.pharmacies button:hover,
.pharmacies button:focus {
  background-color: silver;
}

.medicaments {
  display: flex;
  flex-wrap: wrap;
}